main {
    padding: 1rem;
    
    .container {
        padding: 1.5rem;
        background-color: $dark-grayish-blue;
        border-radius: .5rem;

        p {
            color: $light-cyan;
        }
    }
}